@import url(https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);

$black-color: #000;
$white-color: #fff;
$border-color: rosybrown;
$gris-color: rgb(65, 63, 63);
$animation-delay: .7s;


